html,
body {
  height: 100%;
}

body {
  @extend %mont-500;
  font-size: 20px;
  line-height: 34px;
  color: $default;
  background-color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  &__main {
    position: relative;
    z-index: 3;
    @extend %mont-700;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    text-align: center;
  }
  &__secondary {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: -55px;
    left: -170px;
    @extend %mont-900;
    font-size: 90px;
    line-height: 110px;
    color: rgba(255, 241, 41, 0.34);
    z-index: -1;
  }
}

.button {
  display: inline-block;
  min-height: 66px;
  padding: 20px 30px;
  @extend %mont-500;
  font-size: 25px;
  line-height: 30px;
  color: $default-3;
  background: linear-gradient(178.32deg, #ffee00 1.42%, #d2ae2c 122.13%);
  box-shadow: 4px 4px 30px rgba(255, 230, 2, 0.48);
  border-radius: 20px;
}

.section {
  &__top {
  }
  &__about {
  }
}
