html,
body {
  height: 100%;
}

body {
  @extend %mont-500;
  font-size: 20px;
  line-height: 34px;
  color: $default;
  background-color: #ccc;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  min-height: 66px;
  padding: 20px 30px;
  @extend %mont-500;
  font-size: 25px;
  line-height: 30px;
  color: $default-3;
  background: linear-gradient(178.32deg, #ffee00 1.42%, #d2ae2c 122.13%);
  box-shadow: 4px 4px 30px rgba(255, 230, 2, 0.48);
  border-radius: 20px;
}

.section{
  &__top{
  }
}
