$default: rgba(54, 54, 54, 0.72);
$default-2: rgba(157, 157, 157, 0.65);
$default-3: rgba(39, 37, 37, 0.88);
$accent: #ffe602;

%mont-500 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

%mont-600 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

%mont-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

%mont-800 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

%mont-900 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
